<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Story</title>
    <link href="offcanvas.css" rel="stylesheet">
  </head>

  <body>
<%= render "/stories/nav" %>



    <main role="main" class="container">

      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-12 col-md-9">
          <div class="row">
            <div class="col-6 col-lg-6">
              <p><a class="btn btn-primary btn-lg btn-success" href="/stories?category=1" role="button">bajki dla najmłodszych &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-lg-6 ">
              <p><a class="btn btn-primary btn-lg btn-warning" href="/stories?category=3" role="button">bajki dla dzieci w wieku szkolnym &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-lg-6">
              <p><a class="btn btn-primary btn-lg btn-info" href="/stories?category=2" role="button"> bajki dla przedszkolaków &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-lg-6">
              <p><a class="btn btn-primary btn-lg btn-danger" href="/stories?category=4" role="button">bajki dla starszych &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->

        <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="/stories/top10" class="list-group-item green shadow" >Top 10</a>
            <a href="/stories/idea" class="list-group-item red shadow">O pomyśle</a>
            <a href="/stories/latest_stories" class="list-group-item yellow shadow">Najnowsze Bajki</a>
            <a href="/suggestions/new" class="list-group-item blue shadow">Wasze propozycje bajek, basni i opowiadań</a>
          </div>
        </div><!--/span-->
      </div><!--/row-->
    </main><!--/.container-->


    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <%= @story1.title.capitalize %>
            </div>
            <div class="panel-body img">
              <%= link_to story_path(@story1) do %>
                <%= image_tag @story1.picture.url(:small)%>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-danger">
            <div class="panel-heading"><%= @story2.title.capitalize %></div>
            <div class="panel-body img">
              <%= link_to story_path(@story2) do %>
                <%= image_tag @story2.picture.url(:small)%>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-success">
            <div class="panel-heading"><%= @story3.title.capitalize %></div>
            <div class="panel-body img">
              <%= link_to story_path(@story3) do %>
                <%= image_tag @story3.picture.url(:small)%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div><br>

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading"><%= @story4.title.capitalize %></div>
            <div class="panel-body img">
              <%= link_to story_path(@story4) do %>
                <%= image_tag @story4.picture.url(:small)%>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading"><%= @story5.title.capitalize %></div>
            <div class="panel-body img">
              <%= link_to story_path(@story5) do %>
                <%= image_tag @story5.picture.url(:small)%>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading"><%= @story6.title.capitalize %></div>
            <div class="panel-body img">
              <%= link_to story_path(@story6) do %>
                <%= image_tag @story6.picture.url(:small)%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div><br><br>

    <footer class="container-fluid text-center">




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    <script src="offcanvas.js"></script>
  </body>
</html>
