<%= render "nav"%>
<main class="container">
  <div class="text-center">
    <div>
      <div class="jumbotron" style="background: opacity:0.3">
        <div style="font-family:Arial">
          <h3 class="bigger">Witaj w zbiorze bajek i opowiadań czytanych przez lektora.</h3>
          <div class="text-justify" style="background:white; padding:10px; box-shadow:3px 3px grey; margin-bottom:10px">
            Zamysł jest prosty. Puść dziecku dowolną bajkę, baśń lub opowiadanie na dobranoc lub w innym czasie.
            Nie zawiera ona obrazów, <span class="bigger">tylko dzwięki i słowa pobudzające wyobraźnię</span>.
            Wybierz dziecku poziom, gdyż bajki są na różnorodnym poziomie.
            Masz pewność, że Twoje dziecko nie zobaczy i nie usłyszy nic nieodpowiedniego.
            Wszystkie wpisy są skontrolowane przez administratora.
          </div>
          <div class="text-justify" style="background:white; padding:10px; box-shadow:3px 3px grey; margin-bottom:10px">
            Skąd pomysł na taką formę bajek? Powstał, gdyż wiele osób zaczęło mówić o braku
            miejsca w sieci, w którym dzieci bezpiecznie mogłyby posłuchac mądrych, <span class="bigger">wartościowych bajek, baśni i opowiadań
            z przesłaniem</span> bez wszechobecnego wulgaryzmu, przemocy czy wątków o zabarwieniu seksulanym.
          </div>
          <div class="text-justify" style="background:white; padding:10px; box-shadow:3px 3px grey; margin-bottom:10px">
            Ta aplikacja została tak stworzona, że bez obaw o terści, można oddać ją w urzytkowanie dzieci.
            Jest świetnym zamiennikiem, <span class="bigger">czytania do snu dzieciom</span>. Oczywisćie nic nie zastąpi czytania dziecią przez rodziców
            czy opeikunów, ale jest to dobra alternatywa dla bardzo zapracowanych rodziców.
          </div>
          <div class="text-justify" style="background:white; padding:10px; box-shadow:3px 3px grey; margin-bottom:10px">
            Bajki celowo nie zawierają obrazów, tylko sam dzwięk, gdyż mają na celu pobudzać wyobrażnię dzieci,
            uczyć ich tworzyć świat w ich głowach. Tak rozwija się dziecięcy intelekt. pobudzając w ten sposób rozwój
            dziecka, uczymy go myslec niestandardowo, <span class="bigger">bez narzuconych odgórnie obrazów i światów</span>.
            Może rośnie nam mały wynalazca?
          </div>
          <div class="text-justify" style="background:white; padding:10px; box-shadow:3px 3px grey; margin-bottom:10px">
            Ta aplikacja powstała również, z uwagi na dzieci niedowidzące lub niewidome. W tym wypadku przy drobnym wsparci osób,
            które uruchomią daną bajkę, dziecko ma mozliwość odebrać pełen zasób jej walorów, ponieważ zamiast obrazów przekazywanych
            w stadardowym formacie bajki, są one przekazywane za pośrednictwem barwnych opisów.
          </div>
          <div class="text-justify" style="background:white; padding:10px; box-shadow:3px 3px grey; margin-bottom:10px">
            <span class="bigger">Bajki zostały podzielone na kategorie</span>, z uwagi na trudności w interpretacji znaczeń. Naprzykład bajki oznaczone jako najtrudniejsze,
            są bardziej przeznaczone dla starszych dzieci lub nawet dorosłych. Nie znaczy to, że modsze dzieci nie moga ich słuchac.
            Oznacza to tylko tyle, że zrozumieją i odczytaja je,w innym zakresie i na innej płaszczyźnie niź, strasze osoby.
          </div>
          <div class="text-justify" style="background:white; padding:10px; box-shadow:3px 3px grey; margin-bottom:10px">
            Docelow aplikacja ma umożliwiać użytkownikowi rejestrowanie się i nagrywanie własnych bajek, które po zatwierdzeniu,
            (co jest kluczowe by zachować gwarantowane standardy bezpieczeństwa) mogą być udostępniane innym użytkowniką.
            Aktualnie jest to <span class="bigger">wersja Beta</span>, która umożliwia odsłuchanie poszczególnych bajek i ich ocenę, a także zgłaszanie propozycji
            bajek do odczytania. W związku z tym, to od Państwa będzie zaleźeć jakie jeszcze funkcjonalność będą Państwu potrzebne.
          </div>
          <div class="text-justify" style="background:white; padding:10px; box-shadow:3px 3px grey; margin-bottom:10px">
            Bajki są ponadczasowe. Niektóre, oprócz podstawowego przekazu, zawierają kilka, warstw i poziomów.
            Nawet dorosły znajdzie to coś dla siebie. Usiądz wygodnie z ulubiony napojem, odpręż się i <span class="bigger">odkryj bajkę na nowo</span> albo <span class="bigger">wróci do czasów dzieciństwa.</span>
          </div>
        </div>
      </div>
      <div class="row-idea">
        <div class="col-6-idea col-lg-6 jumbotron radius">
          <h2 class="link1 center"><%= link_to "Bajki dla najmłodszych", "/stories?category=1" %></h2>
          <p> Ten poziom zawiera bajki z prostym przekazem dla najmłodszych dzieci.
            Wprawdzie każda bajka może być analizowana wielopłaszczyznowo, ale te zostały specjalnie wybrane dla naszych najmłodszych słuchaczy.
            Mimo rozdzielenia na poziomy, każde dziecko może bez obaw słuchać bajek z każdego poziomu.
          </p>
          <p class="center"><a class="btn btn-primary" href="/stories?category=1" role="button"> zobacz te bajki &raquo;</a></p>
        </div>
        <div class="col-6-idea col-lg-6 jumbotron radius">
          <h2 class="link1 center"><%= link_to "Bajki dla przedszkolaków", "/stories?category=2"%></h2>
          <p> Ten poziom jest odrobine trudniejszy niż poziom poprzedni. Bajki tu zawarte posiadają więcej watków.
              Zaczarowany świat symboli i przesłań zaczyna się rozbudowywać, rozwijajac tym samym dziecięcą wyobraznię.
              Dziecko słuchając tych bajek poziom po pozimie, tworzy obrazy, postacie i zdarzenia w swojej głowie czasami się z nimi utożsamiając.
              W tym dziale zostanie poruszonych wiele problemów wieku przedszkolnego.
          </p>
          <p class="center"><a class="btn btn-primary" href="/stories?category=2" role="button"> zobacz te bajki &raquo;</a></p>
        </div>
        <div class="col-6-idea col-lg-6 jumbotron radius">
          <h2 class="link1 center"><%= link_to "Bajki dla dzieci klas 0-4", "/stories?category=3"%></h2>
          <p> Te bajki są przeznaczone dla starszych dzieci, choć i młodsze mogą ich słuchać.
            Są bardziej rozbudowane i skomplikowane niż poprzednie działy.
            Treść i znaczenie w nich zawarte są dziś zaskakująco żywe i pozwolą dzieciom rozwiązać nie jedną swoją rozterkę, tęsknotę czy problem.
          </p>
          <p class="center"><a class="btn btn-primary" href="/stories?category=3" role="button">zobacz te bajki &raquo;</a></p>
        </div><!--/span-->
        <div class="col-6-idea col-lg-6 jumbotron radius">
          <h2 class="link1 center"><%= link_to "Bajki dla starszy", "/stories?category=4"%> </h2>
          <p>To są bajki do przemyślenia. Opowiadania, które, jeśli ich uważnie wysłuchasz, juz nigdy nie będziesz taki sam.
          Opowieści te na długo zagoszą w twoim umyśle i sercu, a jeśli pozwolisz na to,
          obalą bariery w nim przez lata z mozołem budowane.
          </p>
          <p class="center"><a class="btn btn-primary box-shadow: 0 4px 8px 0" href="/stories?category=4" role="button">zobacz te bajki &raquo;</a></p>
        </div><!--/span-->
      </div><!--/row-->
    </div><!--/span-->
</main><!--/.container-->
