<%= render "nav" %>

<div class="table-responsive">
<table class="table table-bordered table-condensed table-hover">
  <tr class="table-danger text-center">
    <th scope="col" class="text-center"> Story </th>
    <th scope="col"><%= link_to "Tytuł", stories_path(order: "title", dir: (@dir == "asc" ? "desc" : "asc"), text: @text) %></th>
    <th scope="col"> <%= link_to "Autor", stories_path(order: "author", dir: (@dir == "asc" ? "desc" : "asc"), text: @text) %> </th>
    <th scope="col"> <%= link_to "Poziom trudności", stories_path(order:"level",dir:(@dir == "asc" ? "desc" : "asc"), text: @text) %></th>
  </tr>
  <% @stories.each  do |story| %>
    <tr>
    <div>
        <td class="text-center bakgraund_table">
          <%= link_to story_path(story) do %>
            <%= image_tag story.picture_url, style: "width: 200px;" %>
          <% end %>
        </td>
        <td class="text-center bakgraund_table"><strong><%= link_to story.title.capitalize, story_path(story) %></strong></td>
        <td class="text-center bakgraund_table"><strong><%= story.author.capitalize %></strong></td>
        <!-- <td><strong><%#= link_to story.title.capitalize, story_path(story) %> &#xbb; </strong><input onclick='responsiveVoice.speak("<%= story.title.capitalize %>");' type='button' value='🔊 Play' /></td> -->
        <td class="text-center bakgraund_table" style="width: 10em; height: 10em"><strong><%= story.level.capitalize %></strong></td>
    </div>
    </tr>
  <% end  %>
</table>
</div>

<%= paginate @stories %>
