<nav class="navbar navbar-expand-md navbar bg-light">
  <a class="navbar-brand" href="/welcome"><strong> Home </strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Sign in</a>
          <a class="dropdown-item" href="#">Sign up</a>
          <a class="dropdown-item" href="#">Sign out</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Level</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="/stories?category=1">Easy</a>
          <a class="dropdown-item" href="/stories?category=2">Medium easy</a>
          <a class="dropdown-item" href="/stories?category=3">Avarage</a>
          <a class="dropdown-item" href="/stories?category=4">Dificult</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=" "> Create Your List of Stories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stories/new"> Create New story</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stories"> List of Story </a>
      </li>
    </ul>
      <%= form_tag stories_path, method: "get", class: "form-inline my-2 my-lg-0" do %>
        <%= hidden_field_tag "order", @order %>
        <%= hidden_field_tag "dir", @dir %>
        <%= text_field_tag "text", @text, class: "form-control mr-sm-2", placeholder: "Search" %>
        <%= submit_tag "search", class: "btn btn-outline-success my-2 my-sm-0" %>
      <% end %>
  </div>
</nav>







<div class="text-center">
  <% if @story.previous_story %>
    <%= link_to "<-- previous story", story_path(@story.previous_story) %> |
  <% end %>
  <%= link_to "Index", stories_path %> |
  <% if @story.next_story %>
    <%= link_to "next story -->", story_path(@story.next_story)%>
  <% end %>
</div>

  <div class="text-center">
    <h2><strong><%= @story.title.capitalize %></strong></h2>
    Author: <%= @story.author.capitalize %>
    <div class="text-center">
      <%= image_tag @story.picture.url (:medium) %>
    </div>
  </div>
  <div class="text-center">
    <audio controls>
      <source src= "<%= @story.file.url %>" type= "<%= @story.file_content_type %>" >
      Your browser does not support the audio element.
    </audio>
  </div>
  <div class='text-center'>
    <%= link_to "Delete", story_path(@story), method: "delete", data: {confirm:"Are you sure?"} %> |
    <%= link_to "Edit", edit_story_path(@story) %>
  </div>
