<%= render "nav"%>
<h2 class="center bigger link1"> Top dziesięciu najlepszych bajek </h2>

<ol class="center" style="margin:50px">
  <% @stories.each do |story| %>
  <div class=" bigger link1" style="display: block">
    <li class="text-justify" style="padding:10px; margin-bottom:10px">
    <%= link_to story_path(story) do %>
      <span class="picture-top"><%= image_tag story.picture.url, class: "picture_top"%></span>
    <% end %>
    <span class="link1 big-text"><%= link_to story.title, story_path(story) %></span>
     Ocena: <span id="star"><%= story.rate %> &#9734;</span>
    </li>
  </div>
  <% end %>
</ol>
